<article class="joke">
    <div class="message">
        <a href="{{punchline}}" target="_blank">{{message}}</a>
        <span>({{punchline}})</span>
    </div>
    <div class="meta">
        {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
        |
        <a href="/category/{{id}}">{{categories.length}} {{format_plural "category" categories.length}}</a>
    </div>
</article>